* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* css reset */
}

.cstm-design {
    padding-bottom: 10rem;
    background-color: forestgreen;
}

#head-logo {
    font-size: 4rem;
    color: brown;
}

.nav-links li a {
    font-size: 2rem;
    color:  blanchedalmond;
}