* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* css reset */
}

body {
    margin: 0;
    background-color: rgb(0, 105, 148)
}

.header {
    max-width: 100%;
    max-height: 100%;
    text-align: center;
    font-family: "lobster", sans-serif ;
    margin-top: 0;
    background-image: linear-gradient(beige,rgb(0, 105, 148));
    padding: 2rem;
     
}

.header h1 {
    margin: 0;
}



  .carousel-item h3 {
    background-color: rgba(0, 0, 0, 0.7);
    color: #fff;
    padding: 10px;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
   }

   .cstm-slider {
    max-width: 60%;
    margin: 0 auto;
    margin-top: 5rem;
    border: solid 20px #8c92ac;
    border-radius: 2rem;
    background-image: linear-gradient(beige,rgb(0, 105, 148));

   }

   #back-logo {
    margin-left: 2rem;
    margin-bottom: 2rem;
   }


.card-content {
    background-color: transparent;
}

.btn {
    margin-left: 2%;
    margin-bottom: 1%;
}

select {
    margin: 2%;
    width: 30%;
}

label {
    margin-left: 2%;
}

footer {
    text-align: center;
}

.tabs .tab a {
    color: black;
}

.tabs .tab a:hover {
    color: rgb(83, 83, 83);
}

.brand-logo {
    margin: 3%;
}