* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* css reset */
}


.cstm-design {
    padding-bottom: 10rem;
    background-image: linear-gradient(green, white);
}

#head-logo {
    font-size: 4rem;
    color: brown;
}

.nav-links li a {
    font-size: 2rem;
    color:  blanchedalmond;
}


.card-content {
    background-color: transparent;
}

.btn {
    margin-left: 2%;
    margin-bottom: 1%;
}

select {
    margin: 2%;
    width: 30%;
}

label {
    margin-left: 2%;
}

footer {
    text-align: center;
}

.tabs .tab a {
    color: black;
}

.tabs .tab a:hover {
    color: rgb(83, 83, 83);
}

.brand-logo {
    margin: 3%;
}